.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .embed-responsive::before {
    display: block;
    content: ""; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0; }
  .breadcrumb > li {
    font-size: 0.875rem;
    line-height: 20px;
    display: inline-block; }
    .breadcrumb > li:after {
      content: '>';
      padding: 0 5px; }

.btn {
  color: #27ae60;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  line-height: 20px;
  padding: 7px 18px;
  font-size: 0.8125rem;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: 1px solid #27ae60; }
  .btn:hover {
    color: #fff;
    background: #27ae60; }
  .btn:focus, .btn.focus {
    outline: 0; }

.btn-green {
  color: #fff;
  background: #27ae60; }
  .btn-green:hover {
    background: #219251;
    border-color: #219251; }

.btn-md {
  padding: 13px 18px;
  text-transform: uppercase; }

.form-control {
  margin: 0;
  width: 100%;
  z-index: 10;
  color: #aaaaaa;
  outline: none;
  background: #fff;
  line-height: 20px;
  padding: 13px 15px;
  position: relative;
  display: inline-block;
  border: 1px solid #e5e5e5; }
  .form-control::-moz-placeholder {
    color: #aaaaaa;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #aaaaaa; }
  .form-control::-webkit-input-placeholder {
    color: #aaaaaa; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .form-control:focus:-ms-input-placeholder {
    color: transparent; }
  .form-control:focus::-webkit-input-placeholder {
    color: transparent; }
  .form-control.error {
    color: #a52a2a;
    border-color: #a52a2a; }

.form-group {
  margin-bottom: 12px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #818181;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #fff;
  font-size: 0.875rem;
  line-height: 1.5; }

.container {
  margin-right: auto;
  margin-left: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 924px) {
    .container {
      width: 894px; } }
  @media (min-width: 1230px) {
    .container {
      width: 1200px; } }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.2; }

h1, .h1 {
  padding: 0;
  color: #333333;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 0 0 1rem 0; }

h2, .h2 {
  padding: 0;
  color: #333333;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 0 1rem 0; }

h3, .h3 {
  padding: 0;
  font-size: 1.25rem;
  margin: 0 0 1rem 0; }

h4, .h4 {
  padding: 0;
  font-size: 1.125rem;
  margin: 0 0 0.5rem 0; }

h5, .h5 {
  font-size: 1rem;
  margin: 0 0 0.5rem 0; }

h6, .h6 {
  font-size: 0.875rem;
  margin: 0 0 0.5rem 0; }

p {
  margin: 0 0 10px 0; }

a {
  color: #818181;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.header {
  background: #fff;
  padding-top: 27px;
  margin-bottom: 20px; }
  .header__wrap {
    width: 280px;
    margin: 0 auto;
    position: relative; }
    .header__wrap:before, .header__wrap:after {
      content: " ";
      display: table; }
    .header__wrap:after {
      clear: both; }
  .header__logo {
    width: 78px;
    float: left;
    margin-bottom: 20px; }
    .header__logo a {
      display: block; }
  .header__top {
    display: none; }
  .header__city {
    float: left;
    position: relative;
    font-size: 0.9375rem;
    line-height: 1.25rem; }
    .header__city span {
      color: #999; }
    .header__city > a {
      color: #ea5e91;
      position: relative;
      text-decoration: none;
      border-bottom: 1px dashed #999; }
      .header__city > a:before {
        top: 4px;
        left: 100%;
        color: #999;
        font-weight: normal;
        font-size: 0.9375rem;
        line-height: 1;
        margin-left: 3px;
        position: absolute;
        content: "\f107";
        font-family: FontAwesome; }
    .header__city .cityModal {
      top: 40px;
      left: 90px;
      width: 260px;
      padding-left: 20px;
      padding-right: 20px; }
      .header__city .cityModal:before {
        left: 15px; }
  .header__link {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none; }
    .header__link:before, .header__link:after {
      content: " ";
      display: table; }
    .header__link:after {
      clear: both; }
    .header__link > li {
      float: left;
      margin-left: 35px; }
      .header__link > li > a {
        color: #666;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-decoration: none; }
        .header__link > li > a:hover {
          color: #219251; }
  .header__phone {
    width: 100%;
    float: left;
    margin-bottom: 20px; }
    .header__phone:before, .header__phone:after {
      content: " ";
      display: table; }
    .header__phone:after {
      clear: both; }
    .header__phone_item {
      float: left; }
      .header__phone_item:first-child {
        margin-right: 25px; }
      .header__phone_item a {
        color: #333;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.25rem;
        text-decoration: none; }
      .header__phone_item span {
        color: #999;
        display: block;
        font-size: 0.75rem;
        line-height: 1rem; }
  .header__callback {
    top: 19px;
    right: 120px;
    width: 36px;
    height: 36px;
    outline: none;
    line-height: 20px;
    color: #27ae60;
    font-size: 0.8125rem;
    padding: 6px 0 0 6px;
    position: absolute;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background: #27ae60;
    border: 1px solid #27ae60; }
    .header__callback_icon {
      width: 24px;
      height: 23px;
      display: inline-block; }
      .header__callback_icon .ico-svg {
        fill: white; }
    .header__callback_text {
      display: none; }
  .header__map {
    height: 36px;
    display: none;
    padding: 7px 30px;
    line-height: 20px;
    color: #27ae60;
    font-size: 0.8125rem;
    text-decoration: none;
    background: transparent;
    text-transform: uppercase;
    border: 1px solid #27ae60; }
    .header__map:hover {
      color: #fff;
      background: #27ae60; }
  .header__nav {
    display: none; }
  .header__cart {
    top: 19px;
    right: 60px;
    color: #fff;
    width: 36px;
    height: 36px;
    outline: none;
    position: absolute;
    text-decoration: none;
    background: #219251; }
    .header__cart_icon {
      top: 7px;
      left: 7px;
      width: 21px;
      height: 22px;
      position: absolute; }
      .header__cart_icon .ico-svg {
        fill: white; }
    .header__cart_value {
      top: -9px;
      left: 25px;
      width: 20px;
      height: 20px;
      padding: 3px 0;
      line-height: 14px;
      font-size: 0.75rem;
      text-align: center;
      position: absolute;
      display: inline-block;
      background: #27ae60;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .header__cart_text {
      display: none;
      line-height: 20px;
      font-size: 0.8125rem; }
  .header__toggle {
    right: 0;
    top: 19px;
    color: #fff;
    width: 36px;
    height: 36px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    text-decoration: none;
    background: #27ae60;
    padding: 13px 11px 0 11px; }
    .header__toggle span {
      width: 100%;
      height: 2px;
      background: #fff;
      position: relative;
      margin-bottom: 2px;
      display: inline-block; }
  .header__search {
    width: 100%;
    float: left;
    position: relative; }
    .header__search_btn {
      top: 0;
      right: 0;
      margin: 0;
      z-index: 10;
      width: 48px;
      height: 48px;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 15px 0;
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      position: absolute;
      color: #27ae60;
      display: inline-block;
      background: transparent; }
    .header__search .form-control {
      padding-right: 48px; }
  @media (min-width: 768px) {
    .header__wrap {
      width: 720px; }
    .header__logo {
      float: left;
      width: 174px;
      margin-bottom: 0; }
      .header__logo a {
        width: 116px;
        display: block;
        margin: 0 auto; }
    .header__phone {
      top: 0;
      left: 202px;
      width: auto;
      position: absolute; }
    .header__cart {
      top: 0; }
    .header__callback {
      top: 0; }
    .header__toggle {
      top: 0; }
    .header__search {
      right: 0;
      left: 202px;
      width: auto;
      bottom: 0;
      position: absolute; } }
  @media (min-width: 924px) {
    .header__wrap {
      width: 894px; }
    .header__phone_item a {
      font-size: 1.125rem; }
    .header__phone_item:first-child {
      margin-right: 65px; }
    .header__map {
      padding: 7px 40px; }
    .header__callback {
      right: 160px;
      width: auto;
      padding: 7px 30px;
      position: absolute;
      background: transparent; }
      .header__callback:hover {
        color: #fff;
        background: #27ae60; }
      .header__callback_icon {
        display: none; }
      .header__callback_text {
        display: inline; } }
  @media (min-width: 1230px) {
    .header {
      height: 236px;
      padding-top: 25px; }
      .header__wrap {
        width: 1200px;
        padding-left: 306px; }
      .header__logo {
        top: 0;
        left: 0;
        float: none;
        width: 282px;
        padding-top: 13px;
        position: absolute; }
        .header__logo a {
          width: 130px; }
      .header__top {
        width: 100%;
        float: left;
        display: block;
        padding-bottom: 8px;
        margin-bottom: 18px;
        border-bottom: 1px solid #efefef; }
      .header__phone {
        top: auto;
        left: auto;
        float: left;
        margin-bottom: 0;
        position: inherit; }
      .header__callback {
        top: auto;
        right: auto;
        float: right;
        position: inherit;
        margin-right: 65px; }
      .header__map {
        float: right;
        display: inline-block; }
      .header__toggle {
        display: none; }
      .header__content {
        display: block; }
      .header__search {
        width: 100%;
        left: auto;
        right: auto;
        bottom: auto;
        display: block;
        position: relative; }
      .header__nav {
        margin: 0;
        padding: 0;
        float: left;
        width: 620px;
        display: table;
        list-style: none; }
        .header__nav > li {
          display: table-cell; }
          .header__nav > li > a {
            color: #fff;
            width: 100%;
            font-size: 13px;
            line-height: 20px;
            padding: 14px 20px;
            text-align: center;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase; }
            .header__nav > li > a:hover {
              background: #219251; }
      .header__content {
        width: 100%;
        float: left;
        margin-top: 16px;
        margin-bottom: 12px;
        background: #27ae60; }
        .header__content:before, .header__content:after {
          content: " ";
          display: table; }
        .header__content:after {
          clear: both; }
      .header__cart {
        top: auto;
        right: auto;
        color: #fff;
        width: 236px;
        height: 48px;
        float: right;
        display: block;
        line-height: 20px;
        position: relative;
        font-size: 0.875rem;
        text-decoration: none;
        padding: 14px 15px 14px 60px;
        background: #219251; }
        .header__cart_icon {
          top: 14px;
          left: 20px;
          width: 21px;
          height: 22px;
          position: absolute; }
          .header__cart_icon .ico-svg {
            fill: white; }
        .header__cart_value {
          top: 7px;
          left: 33px; }
        .header__cart_text {
          display: inline;
          line-height: 20px;
          font-size: 0.875rem; } }

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  fill: #999999;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.page {
  padding-bottom: 30px; }
  .page:before, .page:after {
    content: " ";
    display: table; }
  .page:after {
    clear: both; }
  @media (min-width: 768px) {
    .page {
      width: 720px;
      margin: 0 auto; } }
  @media (min-width: 924px) {
    .page {
      width: 894px; } }
  @media (min-width: 1230px) {
    .page {
      width: 1200px; } }

.page0 {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: inherit;
  position: relative; }
  .page0.nav_open {
    position: fixed; }
    .page0.nav_open:before {
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      z-index: 999;
      height: 100vh;
      position: fixed;
      background: rgba(51, 51, 51, 0.5); }
    .page0.nav_open .mobileNav {
      margin-right: 0; }
  @media (min-width: 1230px) {
    .page0.nav_open {
      position: inherit; }
      .page0.nav_open:before {
        display: none; }
      .page0.nav_open .mobileNav {
        display: none; } }

.main__wrap {
  width: 280px;
  margin: 0 auto; }
@media (min-width: 768px) {
  .main {
    width: 100%; }
    .main__wrap {
      width: 100%; } }
@media (min-width: 1230px) {
  .main {
    float: right;
    width: 894px;
    min-height: 1px; } }

.mainSlider {
  overflow: hidden;
  position: relative;
  margin-bottom: 24px; }
  .mainSlider__item {
    border: none;
    outline: none; }
  .mainSlider .slide-nav {
    top: 50%;
    z-index: 10;
    color: #fff;
    width: 48px;
    height: 48px;
    padding: 16px 0;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    margin-top: -24px;
    position: absolute;
    display: inline-block;
    background: #27ae60;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .mainSlider .slide-nav:hover {
      background: #219251; }
    .mainSlider .slide-nav.prev {
      left: -24px;
      padding-left: 30px; }
    .mainSlider .slide-nav.next {
      right: -24px;
      padding-left: 12px; }
  .mainSlider .slick-dots {
    left: 0;
    right: 0;
    margin: 0;
    bottom: 12px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none;
    position: absolute;
    text-align: center; }
    .mainSlider .slick-dots li {
      margin: 0 4px;
      display: inline-block; }
      .mainSlider .slick-dots li button {
        margin: 0;
        padding: 0;
        width: 12px;
        height: 12px;
        border: none;
        outline: none;
        cursor: pointer;
        position: relative;
        display: inline-block;
        background: #27ae60;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
      .mainSlider .slick-dots li.slick-active button {
        background: #fff; }

.cityModal {
  z-index: 500;
  width: 280px;
  display: none;
  background: #fff;
  position: absolute;
  padding: 25px 30px 30px 30px;
  -webkit-box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.3); }
  .cityModal.open {
    display: block; }
  .cityModal:before {
    left: 20px;
    top: -15px;
    content: '';
    width: 20px;
    height: 15px;
    position: absolute;
    background: url("../img/arrow_up.png") 0 0 no-repeat; }
  .cityModal .cityModal__text {
    color: #666;
    line-height: 1.5rem; }
  .cityModal .cityModal__value {
    color: #000;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 15px; }
  .cityModal .cityModal__button {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .cityModal .btn {
    text-transform: uppercase; }

.goods__item {
  width: 100%;
  color: #999;
  outline: none;
  display: block;
  background: #fff;
  margin-bottom: 12px;
  text-decoration: none; }
  .goods__item:hover {
    background: #f0f0f0; }
    .goods__item:hover h4 {
      color: #27ae60; }
    .goods__item:hover i .ico-svg {
      fill: #27ae60; }
.goods__text {
  padding: 20px;
  height: 150px;
  position: relative;
  line-height: 1.25rem;
  border: 1px solid #f0f0f0; }
.goods h4 {
  color: #333;
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 1.5rem;
  font-size: 1.125rem; }
.goods p {
  margin-bottom: 0; }
.goods i {
  right: 23px;
  bottom: 23px;
  width: 15px;
  height: 11px;
  position: absolute;
  display: inline-block; }
  .goods i .ico-svg {
    fill: #333; }
@media (min-width: 768px) {
  .goods {
    margin-bottom: 55px;
    border-top: 1px solid #f0f0f0; }
    .goods__item {
      display: table;
      margin-bottom: 0; }
    .goods__image {
      width: 282px;
      display: table-cell;
      vertical-align: middle;
      border-bottom: 1px solid #e5e5e5; }
    .goods__text {
      height: auto;
      display: table-cell;
      vertical-align: middle;
      padding: 0 30px 0 45px;
      border-top: none;
      border-left: none; }
    .goods i {
      top: 50%;
      bottom: auto;
      margin-top: -6px; } }

.tile {
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .tile__item {
    background: #fff;
    margin-bottom: 12px; }
  .tile__image {
    display: block;
    position: relative;
    border: 1px solid #f0f0f0; }
  .tile__hit {
    left: 0;
    top: 10px;
    color: #fff;
    height: 36px;
    padding: 8px 12px;
    line-height: 20px;
    font-size: 0.8125rem;
    text-align: center;
    background: #ea5e91;
    position: absolute;
    display: inline-block; }
  .tile__name {
    height: 79px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 15px 15px 0 20px;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0; }
    .tile__name a {
      color: #333333;
      text-decoration: none; }
  .tile__action {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    list-style: none;
    background: #f0f0f0; }
    .tile__action li {
      display: table-cell;
      vertical-align: middle; }
      .tile__action li:first-child {
        font-size: 0.8125rem;
        line-height: 1rem;
        padding: 0 15px 0 20px; }
      .tile__action li:last-child {
        width: 130px; }
  .tile__info {
    color: #666; }
  .tile__price {
    color: #333;
    font-size: 1rem;
    font-weight: 700; }
  .tile .btn {
    width: 100%; }
  .tile__video {
    color: #fff;
    font-size: 0;
    line-height: 0;
    display: block;
    position: relative;
    text-decoration: none; }
    .tile__video:before {
      top: 0;
      left: 0;
      z-index: 5;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(106, 157, 127, 0.7); }
  .tile__play {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .tile__play_wrap {
      margin: auto;
      display: inline; }
    .tile__play i {
      width: 60px;
      height: 38px;
      margin-bottom: 10px;
      display: inline-block; }
      .tile__play i .ico-svg {
        fill: #fff; }
    .tile__play span {
      color: #fff;
      display: block;
      font-size: 1.125rem;
      line-height: 1.25rem; }
  @media (min-width: 768px) {
    .tile {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      .tile__item {
        width: 282px;
        margin-bottom: 40px; } }

.contactBlock {
  display: none;
  margin-bottom: 55px; }
  .contactBlock__map {
    height: 450px; }
    .contactBlock__map #map {
      height: 100%; }
  @media (min-width: 924px) {
    .contactBlock {
      display: block; } }

.content {
  margin-bottom: 40px; }

.mobileNav {
  top: 0;
  right: 0;
  z-index: 1000;
  width: 280px;
  height: 100vh;
  background: #fff;
  position: absolute;
  margin-right: -320px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .mobileNav__close {
    top: 46px;
    left: -36px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    background: #27ae60;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .mobileNav__close .ico-svg {
      fill: #fff;
      width: 15px;
      height: 11px;
      margin: auto; }
  .mobileNav__wrap {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: #fff;
    padding-bottom: 20px; }
  .mobileNav__city {
    width: 100%;
    height: 58px;
    display: block;
    position: relative;
    padding: 20px 25px 0 25px; }
    .mobileNav__city span {
      color: #999; }
    .mobileNav__city > a {
      color: #ea5e91;
      position: relative;
      text-decoration: none;
      border-bottom: 1px dashed #999; }
      .mobileNav__city > a:before {
        top: 4px;
        left: 100%;
        color: #999;
        font-weight: normal;
        font-size: 0.9375rem;
        line-height: 1;
        margin-left: 3px;
        position: absolute;
        content: "\f107";
        font-family: FontAwesome; }
    .mobileNav__city .cityModal {
      top: 60px;
      left: 10px;
      width: 260px;
      padding-left: 20px;
      padding-right: 20px; }
      .mobileNav__city .cityModal:before {
        left: 100px; }
  .mobileNav__primary {
    margin: 0;
    list-style: none;
    padding: 0 25px 0 25px; }
    .mobileNav__primary.open {
      background: #f0f0f0; }
      .mobileNav__primary.open .mobileNav__primary_toggle i {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .mobileNav__primary.open > ul {
        display: block; }
    .mobileNav__primary_toggle {
      width: 100%;
      height: 48px;
      padding-left: 12px;
      font-weight: 700;
      color: #27ae60;
      text-decoration: none;
      position: relative;
      text-transform: uppercase;
      border-top: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      .mobileNav__primary_toggle span {
        margin: auto 0; }
      .mobileNav__primary_toggle i {
        top: 50%;
        right: 8px;
        width: 12px;
        height: 12px;
        font-size: 12px;
        line-height: 12px;
        margin-top: -6px;
        position: absolute;
        display: inline-block;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
    .mobileNav__primary > ul {
      margin: 0;
      padding: 0;
      display: none;
      list-style: none; }
      .mobileNav__primary > ul > li > a {
        color: #666;
        height: 46px;
        line-height: 1rem;
        position: relative;
        font-size: 0.8125rem;
        text-decoration: none;
        padding: 0 30px  0 12px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; }
        .mobileNav__primary > ul > li > a span {
          margin: auto 0; }
        .mobileNav__primary > ul > li > a i {
          top: 50%;
          right: 8px;
          width: 15px;
          height: 15px;
          margin-top: -7px;
          position: absolute;
          border: 1px solid #27ae60;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
          .mobileNav__primary > ul > li > a i:after, .mobileNav__primary > ul > li > a i:before {
            top: 50%;
            left: 50%;
            width: 7px;
            height: 1px;
            content: '';
            position: absolute;
            margin: -1px 0 0 -4px;
            background: #27ae60; }
          .mobileNav__primary > ul > li > a i:after {
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg); }
      .mobileNav__primary > ul > li.open > ul {
        display: block; }
      .mobileNav__primary > ul > li.open > a {
        font-weight: 700; }
        .mobileNav__primary > ul > li.open > a i:after {
          display: none; }
      .mobileNav__primary > ul > li > ul {
        margin: 0;
        padding: 0;
        display: none;
        list-style: none; }
        .mobileNav__primary > ul > li > ul > li > a {
          color: #666;
          height: 46px;
          padding: 0 12px 0 22px;
          line-height: 1rem;
          position: relative;
          font-size: 0.8125rem;
          text-decoration: none;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex; }
          .mobileNav__primary > ul > li > ul > li > a span {
            margin: auto 0; }
  .mobileNav__second {
    list-style: none;
    margin: 0 0 40px 0;
    padding: 0 25px 0 25px; }
    .mobileNav__second > li {
      width: 100%;
      display: table;
      border-bottom: 1px solid #f0f0f0; }
      .mobileNav__second > li > a {
        color: #000;
        width: 100%;
        height: 48px;
        padding: 0 12px;
        display: table-cell;
        line-height: 1.25rem;
        font-size: 0.8125rem;
        vertical-align: middle;
        text-transform: uppercase; }
        .mobileNav__second > li > a span {
          margin: auto 0; }
  .mobileNav__info {
    padding: 0 35px;
    list-style: none;
    margin: 0 0 40px 0; }
    .mobileNav__info > li {
      margin-bottom: 15px; }
      .mobileNav__info > li:last-child {
        margin-bottom: 0; }
      .mobileNav__info > li > a {
        line-height: 1rem;
        color: #27ae60;
        text-decoration: underline; }
        .mobileNav__info > li > a:hover {
          text-decoration: none; }
  .mobileNav__social {
    padding: 0;
    list-style: none;
    margin: 0 0 0 35px; }
    .mobileNav__social:before, .mobileNav__social:after {
      content: " ";
      display: table; }
    .mobileNav__social:after {
      clear: both; }
    .mobileNav__social > li {
      float: left;
      margin-right: 6px; }
      .mobileNav__social > li > a {
        color: #fff;
        width: 30px;
        height: 30px;
        padding: 7px 0;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        display: inline-block;
        background: #27ae60; }
  @media (min-width: 1230px) {
    .mobileNav {
      display: none; } }

.sideNav {
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none; }
  .sideNav:before {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 50;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0; }
  .sideNav.dropdown-open:before {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .sideNav > li {
    background: #fff;
    position: relative;
    border-bottom: 1px solid #f0f0f0; }
    .sideNav > li:last-child {
      border-bottom: none; }
    .sideNav > li > a {
      color: #666;
      width: 100%;
      height: 48px;
      line-height: 1rem;
      font-size: 0.875rem;
      position: relative;
      text-decoration: none;
      padding: 5px 24px 5px 12px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center; }
      .sideNav > li > a i {
        top: 50%;
        right: 12px;
        height: 12px;
        font-size: 12px;
        font-weight: 400;
        margin-top: -6px;
        line-height: 12px;
        position: absolute; }
    .sideNav > li:hover {
      z-index: 900; }
      .sideNav > li:hover > a {
        color: #27ae60; }
        .sideNav > li:hover > a:before {
          color: #27ae60; }
      .sideNav > li:hover .sideNav__dropmenu {
        display: block; }
  .sideNav__dropmenu {
    top: 0;
    left: 100%;
    margin: 0;
    min-width: 306px;
    z-index: 900;
    padding: 0 25px;
    display: none;
    list-style: none;
    background: #fff;
    position: absolute; }
    .sideNav__dropmenu > li {
      border-bottom: 1px solid #f0f0f0; }
      .sideNav__dropmenu > li:last-child {
        border-bottom: none; }
      .sideNav__dropmenu > li > a {
        color: #666;
        width: 100%;
        height: 48px;
        padding: 14px 0;
        line-height: 20px;
        white-space: nowrap;
        font-size: 0.875rem;
        text-decoration: none;
        display: inline-block; }
        .sideNav__dropmenu > li > a:hover {
          color: #27ae60; }

.secondNav {
  padding: 0;
  list-style: none;
  margin: 0 0 20px 0; }
  .secondNav > li {
    background: #fff;
    position: relative;
    border-bottom: 1px solid #f0f0f0; }
    .secondNav > li:last-child {
      border-bottom: none; }
    .secondNav > li > a {
      color: #27ae60;
      width: 100%;
      height: 48px;
      line-height: 20px;
      font-size: 0.875rem;
      position: relative;
      display: inline-block;
      text-decoration: underline;
      padding: 14px 10px; }
      .secondNav > li > a:hover {
        text-decoration: none; }

.sidebar {
  width: 280px;
  margin: 0 auto; }
  .sidebar__hide {
    display: none; }
  .sidebar__heading {
    color: #333;
    background: #eee;
    padding: 14px 15px;
    font-weight: 700;
    line-height: 20px;
    font-size: 0.8125rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 6px; }
  @media (min-width: 768px) {
    .sidebar {
      width: 720px;
      margin: 0 auto; } }
  @media (min-width: 924px) {
    .sidebar {
      width: 894px; } }
  @media (min-width: 1230px) {
    .sidebar {
      float: left;
      margin: 0;
      width: 282px;
      margin-top: -70px;
      display: block;
      min-height: 1px; }
      .sidebar__hide {
        display: block; } }

.sideBox {
  margin-bottom: 28px;
  font-size: 0.875rem;
  line-height: 1.125rem; }
  .sideBox.sideBox-border {
    border: 1px solid #f0f0f0;
    padding: 25px 30px 20px 18px; }
  .sideBox .icon-credit {
    width: 51px;
    height: 36px;
    display: block;
    margin-bottom: 15px; }
    .sideBox .icon-credit .ico-svg {
      fill: #27ae60; }
  .sideBox h4 {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.25rem;
    margin-bottom: 10px; }
    .sideBox h4 a {
      color: #27ae60;
      text-decoration: underline; }
      .sideBox h4 a:hover {
        text-decoration: none; }
  .sideBox p {
    color: #666;
    margin-bottom: 10px; }
  .sideBox .link-info {
    color: #27ae60;
    text-decoration: underline; }
    .sideBox .link-info:hover {
      text-decoration: none; }
  .sideBox__cert {
    width: 180px;
    display: block;
    outline: none;
    border: none;
    margin: 25px auto 30px auto; }

.sideSocial {
  margin-bottom: 10px; }
  .sideSocial.sideSocial-border {
    width: 100%;
    height: 140px;
    padding: 10px;
    border: 1px solid #f0f0f0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
  .sideSocial__wrap {
    margin: auto; }

.sideSubscribe {
  width: 100%;
  background: #f0f0f0;
  margin-bottom: 28px;
  padding: 20px 24px 24px 24px; }
  .sideSubscribe:before, .sideSubscribe:after {
    content: " ";
    display: table; }
  .sideSubscribe:after {
    clear: both; }
  .sideSubscribe__heading {
    color: #333;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 10px; }
    .sideSubscribe__heading strong {
      display: block; }
  .sideSubscribe .form-control {
    text-align: center; }
  .sideSubscribe .btn {
    width: 100%; }
  @media (min-width: 768px) {
    .sideSubscribe {
      display: table; }
      .sideSubscribe__heading {
        width: 30%;
        text-align: left;
        display: table-cell;
        margin-bottom: 0;
        vertical-align: middle; }
      .sideSubscribe__content {
        width: 70%;
        display: table-cell;
        vertical-align: middle; }
        .sideSubscribe__content:before, .sideSubscribe__content:after {
          content: " ";
          display: table; }
        .sideSubscribe__content:after {
          clear: both; }
      .sideSubscribe .form-group {
        float: left;
        width: 60%;
        padding-right: 25px;
        margin-bottom: 0; }
      .sideSubscribe .form-control {
        text-align: left; }
      .sideSubscribe .btn {
        float: left;
        width: 40%; } }
  @media (min-width: 924px) {
    .sideSubscribe__heading {
      width: 40%;
      padding-right: 40px; }
    .sideSubscribe__content {
      width: 60%; } }
  @media (min-width: 1230px) {
    .sideSubscribe {
      display: block; }
      .sideSubscribe__heading {
        width: 100%;
        display: block;
        padding-right: 0;
        text-align: center;
        margin-bottom: 10px; }
      .sideSubscribe__content {
        width: 100%;
        display: block; }
      .sideSubscribe .form-group {
        float: none;
        width: 100%;
        padding-right: 0;
        margin-bottom: 12px; }
      .sideSubscribe .form-control {
        text-align: center; }
      .sideSubscribe .btn {
        width: 100%;
        float: none; } }

.footer {
  text-align: center;
  padding-top: 20px;
  background: #f0f0f0;
  padding-bottom: 20px; }
  .footer__wrap {
    width: 280px;
    margin: 0 auto; }
    .footer__wrap:before, .footer__wrap:after {
      content: " ";
      display: table; }
    .footer__wrap:after {
      clear: both; }
  .footer__top {
    border-bottom: 1px solid #e5e5e5; }
    .footer__top:before, .footer__top:after {
      content: " ";
      display: table; }
    .footer__top:after {
      clear: both; }
  .footer__bottom {
    padding-top: 24px; }
    .footer__bottom:before, .footer__bottom:after {
      content: " ";
      display: table; }
    .footer__bottom:after {
      clear: both; }
  .footer__phone {
    margin-bottom: 40px; }
    .footer__phone:before, .footer__phone:after {
      content: " ";
      display: table; }
    .footer__phone:after {
      clear: both; }
    .footer__phone_item:first-child {
      margin-bottom: 15px; }
    .footer__phone_item a {
      color: #333;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.25rem;
      text-decoration: none; }
    .footer__phone_item span {
      color: #999;
      display: block;
      font-size: 0.75rem;
      line-height: 1rem; }
  .footer__address {
    font-size: 0.8125rem;
    line-height: 1.5rem;
    margin-bottom: 40px; }
    .footer__address p {
      margin-bottom: 0; }
    .footer__address a {
      color: #27ae60;
      text-decoration: underline; }
      .footer__address a:hover {
        text-decoration: none; }
  .footer__nav {
    margin: 0;
    padding: 0;
    list-style: none; }
    .footer__nav:before, .footer__nav:after {
      content: " ";
      display: table; }
    .footer__nav:after {
      clear: both; }
    .footer__nav > li {
      margin-bottom: 15px; }
      .footer__nav > li > a {
        color: #27ae60;
        font-size: 0.8125rem;
        line-height: 1rem;
        text-decoration: underline; }
        .footer__nav > li > a:hover {
          text-decoration: none; }
  .footer__logo {
    width: 74px;
    display: block;
    margin: 0 auto 20px auto; }
  .footer__copy {
    color: #999;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 0.8125rem;
    line-height: 0.9375rem; }
  .footer__privacy {
    margin-bottom: 20px;
    font-size: 0.8125rem;
    line-height: 0.9375rem; }
    .footer__privacy a {
      color: #999;
      text-decoration: underline; }
      .footer__privacy a:hover {
        text-decoration: none; }
  .footer__callback {
    color: #27ae60;
    outline: none;
    cursor: pointer;
    width: 175px;
    text-decoration: none;
    font-weight: 400;
    line-height: 20px;
    padding: 4px 15px;
    font-size: 0.8125rem;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 24px;
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    text-transform: uppercase;
    border: 1px solid #27ae60; }
    .footer__callback:hover {
      color: #fff;
      background: #27ae60; }
    .footer__callback:focus, .footer__callback.focus {
      outline: 0; }
  .footer__social {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none; }
    .footer__social:before, .footer__social:after {
      content: " ";
      display: table; }
    .footer__social:after {
      clear: both; }
    .footer__social > li {
      margin: 0 3px;
      display: inline-block; }
      .footer__social > li > a {
        color: #fff;
        width: 30px;
        height: 30px;
        padding: 7px 0;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        display: inline-block;
        background: #27ae60; }
  .footer__dev {
    color: #999;
    width: 170px;
    height: 30px;
    margin: 0 auto;
    display: block;
    text-align: left;
    line-height: 30px;
    font-size: 0.8125rem;
    text-decoration: none;
    background: url("../img/dev_logo.png") 100% 50% no-repeat; }
  @media (min-width: 768px) {
    .footer {
      text-align: left;
      padding-bottom: 30px; }
      .footer__wrap {
        width: 720px; }
      .footer__top {
        padding-bottom: 20px; }
      .footer__phone {
        float: left;
        width: 205px;
        margin-bottom: 0; }
      .footer__address {
        width: 120px;
        float: left;
        line-height: 1.125rem;
        margin-bottom: 0; }
        .footer__address p {
          margin-bottom: 20px; }
      .footer__nav {
        width: 360px;
        float: right; }
        .footer__nav > li {
          float: left;
          width: 50%; }
          .footer__nav > li:last-child {
            margin-bottom: 0; }
      .footer__logo {
        float: left;
        margin: 0 60px 0 0; }
      .footer__copy {
        float: left;
        width: 250px; }
      .footer__privacy {
        float: left; }
      .footer__callback {
        width: 160px;
        margin-right: 40px;
        float: left;
        margin-bottom: 0; }
      .footer__social {
        float: left;
        margin-bottom: 0; }
      .footer__dev {
        float: right; } }
  @media (min-width: 924px) {
    .footer__wrap {
      width: 894px; }
    .footer__nav {
      width: 485px; }
    .footer__logo {
      margin-right: 131px; }
    .footer__copy {
      width: 305px; }
    .footer__callback {
      margin-right: 142px; } }
  @media (min-width: 1230px) {
    .footer__wrap {
      width: 1200px; }
    .footer__top {
      padding-bottom: 10px; }
    .footer__bottom {
      padding-top: 35px; }
    .footer__nav {
      width: 800px; }
      .footer__nav > li {
        width: 25%; }
    .footer__logo {
      margin-top: -20px;
      margin-right: 70px; }
    .footer__copy {
      width: 110px;
      margin-right: 95px; }
    .footer__privacy {
      width: 180px;
      margin-right: 75px; }
    .footer__callback {
      margin-right: 37px; }
    .footer__social {
      margin-right: 30px; }
    .footer__dev {
      float: left;
      width: 105px;
      line-height: 15px; } }

/*# sourceMappingURL=main.css.map */
