.ico-svg {
	position: relative;
	display: inline-block;
	width: auto;
	height: 100%;
	fill: #999999;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}


.page {
	padding-bottom: 30px;
	@include clearfix();

	@media (min-width: $screen-md-min) {
		width: $container-md;
		margin: 0 auto;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}

.page0 {
	width: 100%;
	max-width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: inherit;
	position: relative;


	&.nav_open {
		position: fixed;

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			z-index: 999;
			height: 100vh;
			position: fixed;
			background: rgba(51,51,51, 0.5);
		}

		.mobileNav {
			margin-right: 0;
		}
	}


	@media (min-width: $screen-xl-min) {

		&.nav_open {
			position: inherit;

			&:before {
				display: none;
			}

			.mobileNav {
				display: none;
			}
		}
	}
}

.main {

	&__wrap {
		width: 280px;
		margin: 0 auto;
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		width: 100%;

		&__wrap {
			width: 100%;
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {
		float: right;
		width: 894px;
		min-height: 1px;
	}
}

.mainSlider {
	overflow: hidden;
	position: relative;
	margin-bottom: 24px;

	&__item {
		border: none;
		outline: none;
	}

	.slide-nav {
		top: 50%;
		z-index: 10;
		color: #fff;
		width: 48px;
		height: 48px;
		padding: 16px 0;
		font-size: 16px;
		line-height: 16px;
		cursor: pointer;
		margin-top: -24px;
		position: absolute;
		display: inline-block;
		background: $color-green;
		@include border-radius(50%);

		&:hover {
			background: $color-dark-green;
		}

		&.prev {
			left: -24px;
			padding-left: 30px;
		}

		&.next {
			right: -24px;
			padding-left: 12px;
		}
	}

	.slick-dots {
		left: 0;
		right: 0;
		margin: 0;
		bottom: 12px;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		position: absolute;
		text-align: center;

		li {
			margin: 0 4px;
			display: inline-block;

			button {
				margin: 0;
				padding: 0;
				width: 12px;
				height: 12px;
				border: none;
				outline: none;
				cursor: pointer;
				position: relative;
				display: inline-block;
				background: $color-green;
				@include border-radius(50%);
			}

			&.slick-active {

				button {
					background: #fff;
				}
			}
		}
	}
}

.cityModal {
	z-index: 500;
	width: 280px;
	display: none;
	background: #fff;
	position: absolute;
	padding: 25px 30px 30px 30px;
	@include box-shadow(0px 7px 30px 0px rgba(0, 0, 0, 0.3));

	&.open {
		display: block;
	}

	&:before {
		left: 20px;
		top: -15px;
		content: '';
		width: 20px;
		height: 15px;
		position: absolute;
		background: url("../img/arrow_up.png") 0 0 no-repeat;
	}

	.cityModal__text {
		color: #666;
		line-height: 1.5rem;
	}

	.cityModal__value {
		color: #000;
		font-size: 1.5rem;
		line-height: 1.5rem;
		margin-bottom: 15px;
	}

	.cityModal__button {
		width: 100%;
		@include flexbox();
		@include justify-content(space-between);
	}

	.btn {
		text-transform: uppercase;
	}
}


.goods {

	&__item {
		width: 100%;
		color: #999;
		outline: none;
		display: block;
		background: #fff;
		margin-bottom: 12px;
		text-decoration: none;

		&:hover {
			background: #f0f0f0;

			h4 {
				color: $color-green;
			}

			i {
				.ico-svg {
					fill: $color-green;
				}
			}
		}
	}

	&__text {
		padding: 20px;
		height: 150px;
		position: relative;
		line-height: 1.25rem;
		border: 1px solid #f0f0f0;
	}

	h4 {
		color: #333;
		font-weight: 700;
		margin-bottom: 5px;
		line-height: 1.5rem;
		font-size: 	1.125rem;
	}

	p {
		margin-bottom: 0;
	}

	i {
		right: 23px;
		bottom: 23px;
		width: 15px;
		height: 11px;
		position: absolute;
		display: inline-block;

		.ico-svg {
			fill: #333;
		}
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 55px;
		border-top: 1px solid #f0f0f0;

		&__item {
			display: table;
			margin-bottom: 0;
		}

		&__image {
			width: 282px;
			display: table-cell;
			vertical-align: middle;
			border-bottom: 1px solid #e5e5e5;
		}

		&__text {
			height: auto;
			display: table-cell;
			vertical-align: middle;
			padding: 0 30px 0 45px;
			border-top: none;
			border-left: none;
		}

		i {
			top: 50%;
			bottom: auto;
			margin-top: -6px;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}

}

.tile {
	width: 100%;
	margin-bottom: 20px;
	@include flexbox();
	@include flex-wrap(wrap);
	@include flex-direction(column);

	&__item {
		background: #fff;
		margin-bottom: 12px;
	}

	&__image {
		display: block;
		position: relative;
		border: 1px solid #f0f0f0;
	}

	&__hit {
		left: 0;
		top: 10px;
		color: #fff;
		height: 36px;
		padding: 8px 12px;
		line-height: 20px;
		font-size: 	0.8125rem;
		text-align: center;
		background: #ea5e91;
		position: absolute;
		display: inline-block;
	}

	&__name {
		height: 79px;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5rem;
		padding: 15px 15px 0 20px;
		border-left: 1px solid #f0f0f0;
		border-right: 1px solid #f0f0f0;

		a {
			color: #333333;
			text-decoration: none;
		}
	}

	&__action {
		margin: 0;
		padding: 0;
		width: 100%;
		display: table;
		list-style: none;
		background: #f0f0f0;

		li {
			display: table-cell;
			vertical-align: middle;

			&:first-child {
				font-size: 0.8125rem;
				line-height: 1rem;
				padding: 0 15px 0 20px;
			}

			&:last-child {
				width: 130px;
			}
		}
	}

	&__info {
		color: #666;
	}

	&__price {
		color: #333;
		font-size: 1rem;
		font-weight: 700;
	}

	.btn {
		width: 100%;
	}

	&__video {
		color: #fff;
		font-size: 0;
		line-height: 0;
		display: block;
		position: relative;
		text-decoration: none;

		&:before {
			top: 0;
			left: 0;
			z-index: 5;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: rgba(106,157,127, 0.7);
		}
	}

	&__play {
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		position: absolute;
		text-align: center;
		@include flexbox();

		&_wrap {
			margin: auto;
			display: inline;
		}

		i {
			width: 60px;
			height: 38px;
			margin-bottom: 10px;
			display: inline-block;

			.ico-svg {
				fill: #fff;
			}
		}

		span {
			color: #fff;
			display: block;
			font-size: 	1.125rem;
			line-height: 1.25rem;
		}
	}

	@media (min-width: $screen-sm-min) {
	}

	@media (min-width: $screen-md-min) {
		@include flex-direction(row);
		@include justify-content(space-between);

		&__item {
			width: 282px;
			margin-bottom: 40px;
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}

.contactBlock {
	display: none;
	margin-bottom: 55px;

	&__map {
		height: 450px;

		#map {
			height: 100%;
		}
	}

	@media (min-width: $screen-lg-min) {
		display: block;
	}
}

.content {
	margin-bottom: 40px;
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}