@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-ThinItalic.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-ThinItalic.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-ThinItalic.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-ThinItalic.svg#HelveticaNeueCyr-ThinItalic') format('svg');
	font-weight: 100;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.svg#HelveticaNeueCyr-UltraLight') format('svg');
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLightItalic.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLightItalic.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLightItalic.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLightItalic.svg#HelveticaNeueCyr-UltraLightItalic') format('svg');
	font-weight: 200;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.svg#HelveticaNeueCyr-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}


@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.svg#HelveticaNeueCyr-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}



@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-MediumItalic.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-MediumItalic.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-MediumItalic.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-MediumItalic.svg#HelveticaNeueCyr-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic.svg#HelveticaNeueCyr-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.svg#HelveticaNeueCyr-Heavy') format('svg');
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-HeavyItalic.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-HeavyItalic.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-HeavyItalic.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-HeavyItalic.svg#HelveticaNeueCyr-HeavyItalic') format('svg');
	font-weight: 800;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic.svg#HelveticaNeueCyr-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}
