.footer {
	text-align: center;
	padding-top: 20px;
	background: #f0f0f0;
	padding-bottom: 20px;

	&__wrap {
		width: 280px;
		margin: 0 auto;
		@include clearfix();
	}

	&__top {
		border-bottom: 1px solid #e5e5e5;
		@include clearfix();
	}

	&__bottom {
		padding-top: 24px;
		@include clearfix();
	}

	&__phone {
		margin-bottom: 40px;
		@include clearfix();

		&_item {

			&:first-child {
				margin-bottom: 15px;
			}

			a {
				color: #333;
				font-weight: 700;
				font-size: 1.125rem;
				line-height: 1.25rem;
				text-decoration: none;

			}

			span {
				color: #999;
				display: block;
				font-size: 0.75rem;
				line-height: 1rem;
			}
		}
	}

	&__address {
		font-size: 	0.8125rem;
		line-height: 1.5rem;
		margin-bottom: 40px;

		p {
			margin-bottom: 0;
		}

		a {
			color: $color-green;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__nav {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();

		> li {
			margin-bottom: 15px;

			> a {
				color: $color-green;
				font-size: 	0.8125rem;
				line-height: 1rem;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	&__logo {
		width: 74px;
		display: block;
		margin: 0 auto 20px auto;
	}

	&__copy {
		color: #999;
		margin-bottom: 20px;
		display: inline-block;
		font-size: 	0.8125rem;
		line-height: 0.9375rem;
	}

	&__privacy {
		margin-bottom: 20px;
		font-size: 	0.8125rem;
		line-height: 0.9375rem;

		a {
			color: #999;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__callback {
		color: $color-green;
		outline: none;
		cursor: pointer;
		width: 175px;
		text-decoration: none;
		font-weight: 400;
		line-height: 20px;
		padding: 4px 15px;
		font-size: 	0.8125rem;
		user-select: none;
		text-align: center;
		white-space: nowrap;
		margin-bottom: 24px;
		display: inline-block;
		vertical-align: middle;
		background: transparent;
		text-transform: uppercase;
		border: 1px solid $color-green;

		&:hover {
			color: #fff;
			background: $color-green;
		}

		&:focus,
		&.focus {
			outline: 0;
		}
	}

	&__social {
		margin: 0 0 20px 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		@include clearfix();

		> li {
			margin: 0 3px;
			display: inline-block;

			> a {
				color: #fff;
				width: 30px;
				height: 30px;
				padding: 7px 0;
				font-size: 16px;
				line-height: 16px;
				text-align: center;
				display: inline-block;
				background: $color-green;
			}
		}
	}

	&__dev {
		color: #999;
		width: 170px;
		height: 30px;
		margin: 0 auto;
		display: block;
		text-align: left;
		line-height: 30px;
		font-size: 0.8125rem;
		text-decoration: none;
		background: url("../img/dev_logo.png") 100% 50% no-repeat;
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		text-align: left;
		padding-bottom: 30px;

		&__wrap {
			width: $container-md;
		}

		&__top {
			padding-bottom: 20px;
		}

		&__phone {
			float: left;
			width: 205px;
			margin-bottom: 0;
		}

		&__address {
			width: 120px;
			float: left;
			line-height: 1.125rem;
			margin-bottom: 0;

			p {
				margin-bottom: 20px;
			}
		}

		&__nav {
			width: 360px;
			float: right;

			> li {
				float: left;
				width: 50%;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&__logo {
			float: left;
			margin: 0 60px 0 0;
		}

		&__copy {
			float: left;
			width: 250px;
		}

		&__privacy {
			float: left;
		}

		&__callback {
			width: 160px;
			margin-right: 40px;
			float: left;
			margin-bottom: 0;
		}

		&__social {
			float: left;
			margin-bottom: 0;
		}

		&__dev {
			float: right;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__wrap {
			width: $container-lg;
		}

		&__nav {
			width: 485px;
		}

		&__logo {
			margin-right: 131px;
		}

		&__copy {
			width: 305px;
		}

		&__callback {
			margin-right: 142px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__wrap {
			width: $container-xl;
		}

		&__top {
			padding-bottom: 10px;
		}

		&__bottom {
			padding-top: 35px;
		}

		&__nav {
			width: 800px;

			> li {
				width: 25%;
			}
		}

		&__logo {
			margin-top: -20px;
			margin-right: 70px;
		}

		&__copy {
			width: 110px;
			margin-right: 95px;
		}

		&__privacy {
			width: 180px;
			margin-right: 75px;
		}

		&__callback {
			margin-right: 37px;
		}

		&__social {
			margin-right: 30px;
		}

		&__dev {
			float: left;
			width: 105px;
			line-height: 15px;
		}
	}
}