// Header

.header {
	background: #fff;
	padding-top: 27px;
	margin-bottom: 20px;

	&__wrap {
		width: 280px;
		margin: 0 auto;
		position: relative;
		@include clearfix();
	}

	&__logo {
		width: 78px;
		float: left;
		margin-bottom: 20px;

		a {
			display: block;
		}
	}

	&__top {
		display: none;
	}

	&__city {
		float: left;
		position: relative;
		font-size: 0.9375rem;
		line-height: 1.25rem;

		span {
			color: #999;
		}

		> a {
			color: #ea5e91;
			position: relative;
			text-decoration: none;
			border-bottom: 1px dashed #999;

			&:before {
				top: 4px;
				left: 100%;
				color: #999;
				font-weight: normal;
				font-size: 0.9375rem;
				line-height: 1;
				margin-left: 3px;
				position: absolute;
				content: "\f107";
				font-family: FontAwesome;
			}
		}

		.cityModal {
			top: 40px;
			left: 90px;
			width: 260px;
			padding-left: 20px;
			padding-right: 20px;

			&:before {
				left: 15px;
			}
		}
	}

	&__link {
		margin: 0;
		padding: 0;
		float: right;
		list-style: none;
		@include clearfix();

		> li {
			float: left;
			margin-left: 35px;

			> a {
				color: #666;
				font-size: 	0.875rem;
				line-height: 1.25rem;
				text-decoration: none;

				&:hover {
					color: $color-dark-green;
				}
			}
		}
	}

	&__phone {
		width: 100%;
		float: left;
		margin-bottom: 20px;
		@include clearfix();

		&_item {
			float: left;

			&:first-child {
				margin-right: 25px;
			}

			a {
				color: #333;
				font-size: 1rem;
				font-weight: 700;
				line-height: 1.25rem;
				text-decoration: none;

			}

			span {
				color: #999;
				display: block;
				font-size: 0.75rem;
				line-height: 1rem;
			}
		}
	}

	&__callback {
		top: 19px;
		right: 120px;
		width: 36px;
		height: 36px;
		outline: none;
		line-height: 20px;
		color: $color-green;
		font-size: 	0.8125rem;
		padding: 6px 0 0 6px;
		position: absolute;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		background: $color-green;
		border: 1px solid $color-green;

		&_icon {
			width: 24px;
			height: 23px;
			display: inline-block;

			.ico-svg {
				fill: rgba(255,255,255, 1);
			}
		}

		&_text {
			display: none;
		}
	}

	&__map {
		height: 36px;
		display: none;
		padding: 7px 30px;
		line-height: 20px;
		color: $color-green;
		font-size: 	0.8125rem;
		text-decoration: none;
		background: transparent;
		text-transform: uppercase;
		border: 1px solid $color-green;

		&:hover {
			color: #fff;
			background: $color-green;
		}
	}

	&__nav {
		display: none;
	}

	&__cart {
		top: 19px;
		right: 60px;
		color: #fff;
		width: 36px;
		height: 36px;
		outline: none;
		position: absolute;
		text-decoration: none;
		background: $color-dark-green;

		&_icon {
			top: 7px;
			left: 7px;
			width: 21px;
			height: 22px;
			position: absolute;

			.ico-svg {
				fill: rgba(255,255,255, 1);
			}
		}

		&_value {
			top: -9px;
			left: 25px;
			width: 20px;
			height: 20px;
			padding: 3px 0;
			line-height: 14px;
			font-size: 0.75rem;
			text-align: center;
			position: absolute;
			display: inline-block;
			background: $color-green;
			@include border-radius(50%);
		}

		&_text {
			display: none;
			line-height: 20px;
			font-size: 	0.8125rem;
		}
	}

	&__toggle {
		right: 0;
		top: 19px;
		color: #fff;
		width: 36px;
		height: 36px;
		font-size: 0;
		line-height: 0;
		position: absolute;
		text-decoration: none;
		background: $color-green;
		padding: 13px 11px 0 11px;

		span {
			width: 100%;
			height: 2px;
			background: #fff;
			position: relative;
			margin-bottom: 2px;
			display: inline-block;
		}
	}

	&__search {
		width: 100%;
		float: left;
		position: relative;

		&_btn {
			top: 0;
			right: 0;
			margin: 0;
			z-index: 10;
			width: 48px;
			height: 48px;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 15px 0;
			font-size: 18px;
			line-height: 18px;
			text-align: center;
			position: absolute;
			color: $color-green;
			display: inline-block;
			background: transparent;
		}

		.form-control {
			padding-right: 48px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__wrap {
			width: $container-md;
		}

		&__logo {
			float: left;
			width: 174px;
			margin-bottom: 0;

			a {
				width: 116px;
				display: block;
				margin: 0 auto;
			}
		}

		&__phone {
			top: 0;
			left: 202px;
			width: auto;
			position: absolute;
		}

		&__cart {
			top: 0;
		}

		&__callback {
			top: 0;
		}

		&__toggle {
			top: 0;
		}

		&__search {
			right: 0;
			left: 202px;
			width: auto;
			bottom: 0;
			position: absolute;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__wrap {
			width: $container-lg;
		}

		&__phone {

			&_item {

				a {
					font-size: 1.125rem;
				}

				&:first-child {
					margin-right: 65px;
				}

			}
		}

		&__map {
			padding: 7px 40px
		}

		&__callback {
			right: 160px;
			width: auto;
			padding: 7px 30px;
			position: absolute;
			background: transparent;

			&:hover {
				color: #fff;
				background: $color-green;
			}

			&_icon {
				display: none;
			}

			&_text {
				display: inline;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		height: 236px;
		padding-top: 25px;

		&__wrap {
			width: $container-xl;
			padding-left: 306px;
		}

		&__logo {
			top: 0;
			left: 0;
			float: none;
			width: 282px;
			padding-top: 13px;
			position: absolute;

			a {
				width: 130px;
			}
		}

		&__top {
			width: 100%;
			float: left;
			display: block;
			padding-bottom: 8px;
			margin-bottom: 18px;
			border-bottom: 1px solid #efefef;
		}


		&__phone {
			top: auto;
			left: auto;
			float: left;
			margin-bottom: 0;
			position: inherit;
		}

		&__callback {
			top: auto;
			right: auto;
			float: right;
			position: inherit;
			margin-right: 65px;
		}

		&__map {
			float: right;
			display: inline-block;
		}

		&__toggle {
			display: none;
		}

		&__content {
			display: block;
		}

		&__search {
			width: 100%;
			left: auto;
			right: auto;
			bottom: auto;
			display: block;
			position: relative;
		}

		&__nav {
			margin: 0;
			padding: 0;
			float: left;
			width: 620px;
			display: table;
			list-style: none;

			> li {
				display: table-cell;

				> a {
					color: #fff;
					width: 100%;
					font-size: 13px;
					line-height: 20px;
					padding: 14px 20px;
					text-align: center;
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase;

					&:hover {
						background: $color-dark-green;
					}
				}
			}
		}

		&__content {
			width: 100%;
			float: left;
			margin-top: 16px;
			margin-bottom: 12px;
			background: $color-green;
			@include clearfix();
		}

		&__cart {
			top: auto;
			right: auto;
			color: #fff;
			width: 236px;
			height: 48px;
			float: right;
			display: block;
			line-height: 20px;
			position: relative;
			font-size: 	0.875rem;
			text-decoration: none;
			padding: 14px 15px 14px 60px;
			background: $color-dark-green;

			&_icon {
				top: 14px;
				left: 20px;
				width: 21px;
				height: 22px;
				position: absolute;

				.ico-svg {
					fill: rgba(255,255,255, 1);
				}
			}

			&_value {
				top: 7px;
				left: 33px;
			}

			&_text {
				display: inline;
				line-height: 20px;
				font-size: 	0.875rem;
			}
		}
	}
}