* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}



body {
	color: $color-base;
	font-family: $font-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;

}

.container {
	margin-right: auto;
	margin-left: auto;
	@include clearfix;

	@media (min-width: $screen-sm-min) {
//		width: $container-sm;
	}

	@media (min-width: $screen-md-min) {
	//	width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}


//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-head;
	line-height: $headings-line-height;
}

h1, .h1 {
	padding: 0;
	color: #333333;
	font-weight: 400;
	font-size: 1.875rem;
	margin: 0 0 1rem 0;
}

h2, .h2 {
	padding: 0;
	color: #333333;
	font-weight: 400;
	font-size: 1.5rem;
	margin: 0 0 1rem 0;
}

h3, .h3 {
	padding: 0;
	font-size: 1.25rem;
	margin: 0 0 1rem 0;
}

h4, .h4 {
	padding: 0;
	font-size: 	1.125rem;
	margin: 0 0 $headings-margin-bottom 0;
}

h5, .h5 {
	font-size: 1rem;
	margin: 0 0 $headings-margin-bottom 0;
}

h6, .h6 {
	font-size: 0.875rem;
	margin: 0 0 $headings-margin-bottom 0;
}

p {
	margin: 0 0 10px 0;
}

a {
	color: $color-link;
	text-decoration: $link-decoration;

	&:hover {
		text-decoration: $link-hover-decoration;
	}
}