.mobileNav {
	top: 0;
	right: 0;
	z-index: 1000;
	width: 280px;
	height: 100vh;
	background: #fff;
	position: absolute;
	margin-right: -320px;
	@include transition(.3s);

	&__close {
		top: 46px;
		left: -36px;
		width: 36px;
		height: 36px;
		cursor: pointer;
		text-align: center;
		position: absolute;
		background: $color-green;
		@include flexbox();

		.ico-svg {
			fill: #fff;
			width: 15px;
			height: 11px;
			margin: auto;
		}
	}

	&__wrap {
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		background: #fff;
		padding-bottom: 20px;
	}

	&__city {
		width: 100%;
		height: 58px;
		display: block;
		position: relative;
		padding: 20px 25px 0 25px;

		span {
			color: #999;
		}

		> a {
			color: #ea5e91;
			position: relative;
			text-decoration: none;
			border-bottom: 1px dashed #999;

			&:before {
				top: 4px;
				left: 100%;
				color: #999;
				font-weight: normal;
				font-size: 0.9375rem;
				line-height: 1;
				margin-left: 3px;
				position: absolute;
				content: "\f107";
				font-family: FontAwesome;
			}
		}

		.cityModal {
			top: 60px;
			left: 10px;
			width: 260px;
			padding-left: 20px;
			padding-right: 20px;

			&:before {
				left: 100px;
			}
		}
	}

	&__primary {
		margin: 0;
		list-style: none;
		padding: 0 25px 0 25px;

		&.open {
			background: #f0f0f0;

			.mobileNav__primary_toggle {

				i {
					@include rotate(180deg);
					@include transition(.3s);
				}
			}

			> ul {

				display: block;
			}
		}

		&_toggle {
			width: 100%;
			height: 48px;
			padding-left: 12px;
			font-weight: 700;
			color: $color-green;
			text-decoration: none;
			position: relative;
			text-transform: uppercase;
			border-top: 1px solid #f0f0f0;
			border-bottom: 1px solid #f0f0f0;
			@include flexbox();

			span {
				margin: auto 0;
			}

			i {
				top: 50%;
				right: 8px;
				width: 12px;
				height: 12px;
				font-size: 12px;
				line-height: 12px;
				margin-top: -6px;
				position: absolute;
				display: inline-block;
				@include transition(.3s);
			}
		}

		> ul {
			margin: 0;
			padding: 0;
			display: none;
			list-style: none;

			> li {

				> a {
					color: #666;
					height: 46px;
					line-height: 1rem;
					position: relative;
					font-size: 	0.8125rem;
					text-decoration: none;
					padding: 0 30px  0 12px;
					@include flexbox();

					span {
						margin: auto 0;
					}

					i {
						top: 50%;
						right: 8px;
						width: 15px;
						height: 15px;
						margin-top: -7px;
						position: absolute;
						border: 1px solid $color-green;
						@include border-radius(50%);

						&:after,
						&:before {
							top: 50%;
							left: 50%;
							width: 7px;
							height: 1px;
							content: '';
							position: absolute;
							margin: -1px 0 0 -4px;
							background: $color-green;
						}

						&:after {
							@include rotate(90deg);
						}
					}
				}

				&.open {

					> ul {
						display: block;
					}

					> a {
						font-weight: 700;

						i {

							&:after {
								display: none;
							}
						}
					}
				}

				> ul {
					margin: 0;
					padding: 0;
					display: none;
					list-style: none;

					> li {

						> a {
							color: #666;
							height: 46px;
							padding: 0 12px 0 22px;
							line-height: 1rem;
							position: relative;
							font-size: 	0.8125rem;
							text-decoration: none;
							@include flexbox();

							span {
								margin: auto 0;
							}
						}
					}
				}
			}
		}
	}

	&__second {
		list-style: none;
		margin: 0 0 40px 0;
		padding: 0 25px 0 25px;

		> li {
			width: 100%;
			display: table;
			border-bottom: 1px solid #f0f0f0;

			> a {
				color: #000;
				width: 100%;
				height: 48px;
				padding: 0 12px;
				display: table-cell;
				line-height: 1.25rem;
				font-size: 	0.8125rem;
				vertical-align: middle;
				text-transform: uppercase;

				span {
					margin: auto 0;
				}
			}
		}
	}

	&__info {
		padding: 0 35px;
		list-style: none;
		margin: 0 0 40px 0;

		> li {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}

			> a {
				line-height: 1rem;
				color: $color-green;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	&__social {
		padding: 0;
		list-style: none;
		margin: 0 0 0 35px;
		@include clearfix();

		> li {
			float: left;
			margin-right: 6px;

			> a {
				color: #fff;
				width: 30px;
				height: 30px;
				padding: 7px 0;
				font-size: 16px;
				line-height: 16px;
				text-align: center;
				display: inline-block;
				background: $color-green;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		display: none;
	}
}

.sideNav {
	width: 100%;
	margin: 0 0 30px 0;
	padding: 0;
	list-style: none;

	&:before {
		top: 0;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
		z-index: 50;
		position: absolute;
		background: rgba(0,0,0, 0.3);
		visibility: hidden;
		opacity: 0;
	//	@include transition(.1s);
	}

	&.dropdown-open {

		&:before {
			visibility: visible;
			opacity: 1;
			@include transition(.3s);
		}
	}

	> li {
		background: #fff;
		position: relative;
		border-bottom: 1px solid #f0f0f0;

		&:last-child {
			border-bottom: none;
		}

		> a {
			color: #666;
			width: 100%;
			height: 48px;
			line-height: 1rem;
			font-size: 	0.875rem;
			position: relative;
			text-decoration: none;
			padding: 5px 24px 5px 12px;
			@include flexbox();
			@include flex-direction(column);
			@include justify-content(center);

			i {
				top: 50%;
				right: 12px;
				height: 12px;
				font-size: 12px;
				font-weight: 400;
				margin-top: -6px;
				line-height: 12px;
				position: absolute;
			}

			span {

			}
		}

		&:hover {
			z-index: 900;

			> a {
				color: $color-green;

				&:before {
					color: $color-green;
				}
			}

			.sideNav__dropmenu {
				display: block;
			}
		}
	}

	&__dropmenu {
		top: 0;
		left: 100%;
		margin: 0;
		min-width: 306px;
		z-index: 900;
		padding: 0 25px;
		display: none;
		list-style: none;
		background: #fff;
		position: absolute;

		> li {
			border-bottom: 1px solid #f0f0f0;

			&:last-child {
				border-bottom: none ;
			}

			> a {
				color: #666;
				width: 100%;
				height: 48px;
				padding: 14px 0;
				line-height: 20px;
				white-space: nowrap;
				font-size: 	0.875rem;
				text-decoration: none;
				display: inline-block;

				&:hover {
					color: $color-green;
				}
			}
		}
	}
}

.secondNav {
	padding: 0;
	list-style: none;
	margin: 0 0 20px 0;

	> li {
		background: #fff;
		position: relative;
		border-bottom: 1px solid #f0f0f0;

		&:last-child {
			border-bottom: none;
		}

		> a {
			color: #27ae60;
			width: 100%;
			height: 48px;
			line-height: 20px;
			font-size: 	0.875rem;
			position: relative;
			display: inline-block;
			text-decoration: underline;
			padding: 14px 10px;

			&:hover {
				text-decoration: none;
			}
		}
	}
}