.sidebar {
	width: 280px;
	margin: 0 auto;

	&__hide {
		display: none;
	}

	&__heading {
		color: #333;
		background: #eee;
		padding: 14px 15px;
		font-weight: 700;
		line-height: 20px;
		font-size: 	0.8125rem;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 6px;
	}

	@media (min-width: $screen-md-min) {
		width: $container-md;
		margin: 0 auto;
	}


	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		float: left;
		margin: 0;
		width: 282px;
		margin-top: -70px;
		display: block;
		min-height: 1px;

		&__hide {
			display: block;
		}
	}
}

.sideBox {
	margin-bottom: 28px;
	font-size: 0.875rem;
	line-height: 1.125rem;

	&.sideBox-border {
		border: 1px solid #f0f0f0;
		padding: 25px 30px 20px 18px;
	}

	.icon-credit {
		width: 51px;
		height: 36px;
		display: block;
		margin-bottom: 15px;

		.ico-svg {
			fill: #27ae60;
		}
	}

	h4 {
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 1.25rem;
		margin-bottom: 10px;

		a {
			color: #27ae60;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	p {
		color: #666;
		margin-bottom: 10px;
	}

	.link-info {
		color: #27ae60;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&__cert {
		width: 180px;
		display: block;
		outline: none;
		border: none;
		margin: 25px auto 30px auto;
	}
}

.sideSocial {
	margin-bottom: 10px;

	&.sideSocial-border {
		width: 100%;
		height: 140px;
		padding: 10px;
		border: 1px solid #f0f0f0;
		@include flexbox();


	}

	&__wrap {
		margin: auto;
	}
}

.sideSubscribe {
	width: 100%;
	background: #f0f0f0;
	margin-bottom: 28px;
	padding: 20px 24px 24px 24px;
	@include clearfix();

	&__heading {
		color: #333;
		text-align: center;
		font-size: 0.875rem;
		line-height: 1.25rem;
		margin-bottom: 10px;

		strong {
			display: block;
		}
	}

	.form-control {
		text-align: center;
	}

	.btn {
		width: 100%;
	}

	@media (min-width: $screen-md-min) {
		display: table;

		&__heading {
			width: 30%;
			text-align: left;
			display: table-cell;
			margin-bottom: 0;
			vertical-align: middle;
		}

		&__content {
			width: 70%;
			display: table-cell;
			vertical-align: middle;
			@include clearfix();
		}

		.form-group {
			float: left;
			width: 60%;
			padding-right: 25px;
			margin-bottom: 0;
		}

		.form-control {
			text-align: left;
		}

		.btn {
			float: left;
			width: 40%;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__heading {
			width: 40%;
			padding-right: 40px;
		}

		&__content {
			width: 60%;
		}
	}


	@media (min-width: $screen-xl-min) {
		display: block;

		&__heading {
			width: 100%;
			display: block;
			padding-right: 0;
			text-align: center;
			margin-bottom: 10px;
		}

		&__content {
			width: 100%;
			display: block;
		}

		.form-group {
			float: none;
			width: 100%;
			padding-right: 0;
			margin-bottom: 12px;
		}

		.form-control {
			text-align: center;
		}

		.btn {
			width: 100%;
			float: none;
		}
	}
}