$body-bg:                       #fff;

$color-base:                    #818181 !default;
$color-link:                    #818181 !default;

$color-green:                   #27ae60 !default;
$color-dark-green:              #219251 !default;

// Fonts

$font-size-base:                0.875rem !default;
$font-size-lg:                  1rem !default;
$font-size-sm:                  0.75rem !default;

$font-weight-base:              400 !default;
$line-height-base:              1.5 !default;


$font-base:                     'Roboto', Arial, sans-serif !default;
$font-head:                     $font-base;

$spacer:                        1rem !default;
$headings-margin-bottom:        ($spacer / 2) !default;
$headings-line-height:          1.2 !default;


$link-decoration:              underline!default;
$link-hover-decoration:        none!default;


	// layout

$container-sm:                  540px !default;
$container-md:                  720px !default;
$container-lg:                  894px !default;
$container-xl:                  1200px !default;


$gutter:                        30px !default;



$screen-xs-min:                 0;
$screen-sm-min:                 576px !default;
$screen-md-min:                 768px !default;
$screen-lg-min:                 924px !default;
$screen-xl-min:                 1230px !default;


$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-md-max:              ($screen-xl-min - 1) !default;
