
.btn {
	color: $color-green;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	font-weight: 400;
	line-height: 20px;
	padding: 7px 18px;
	font-size: 	0.8125rem;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	border: 1px solid $color-green;

	&:hover {
		color: #fff;
		background: $color-green;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn-green {
	color: #fff;
	background: $color-green;

	&:hover {
		background: $color-dark-green;
		border-color: $color-dark-green;
	}
}

.btn-md {
	padding: 13px 18px;
	text-transform: uppercase;
}