.form-control {
	margin: 0;
	width: 100%;
	z-index: 10;
	color: #aaaaaa;
	outline: none;
	background: #fff;
	line-height: 20px;
	padding: 13px 15px;
	position: relative;
	display: inline-block;
	border: 1px solid #e5e5e5;
	@include placeholder(#aaaaaa);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}

	&.error {
		color: #a52a2a;
		border-color: #a52a2a;
	}
}

.form-group {
	margin-bottom: 12px;
}
